# Formation python
<br/>
## Velvet Consulting

In [7]:
#pour un meilleur affichage, à n'executer qu'une seule fois
%pprint

Pretty printing has been turned OFF

### Types, variables

In [ ]:
a = input("Valeur de a :")
b = input("Valeur de b :")
c = (a**2 - b**(1/2.))
print "a² - √b : ",c 
print 'type :',type(c)

### Listes

In [ ]:
#entier positif de zéro à 10
#phrase j'aime les pommes
#concaténnez chacun des elements de la phrase à la liste
#affichez le douzième élément de la liste
#retirez le dernier élément de la liste
#insérez l'élément 17 en deuxième position
#affichez
#triez et afficher à nouveau
#afficher l'avant dernier élément
#pour finir afficher la liste des éléments du dernier au premier (inclus) avec un pas de 3

l = range(11)
phrase = "j'aime les pommes"
l.extend(phrase)
print l[11]
l.pop()
l.insert(1,17)
print l
l.sort()
print l
print l[-2]
print(l[::-3])

#### Bonus

In [ ]:
a = l.index(17)
b = l.index('m')
l[a], l[b] = l[b], l[a]
l

### Structures conditionnelles

In [ ]:
annee = input("annee : ")
if (not annee%4 and annee%100) or not annee%400 :
    print "l'année",annee,"est bissextile"
else :
    print "l'année",annee,"n'est pas bissextile"

### Les boucles

#### Boucle while

In [22]:
i=0
while (i<=3):
    print i
    i+=1

0
1
2
3

#### Années bissextiles

In [20]:
annee_bis=[]
liste_annee = range(200)
for i in liste_annee :
    if (not i%4 and i%100) or not i%400 :
        annee_bis.append(i)
annee_bis

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196]

#### FizzBuzz

In [13]:
for i in range(1,20):
    chaine =''
    if not i%3 :
        chaine+="Fizz"
    if not i%5 : 
        chaine+="Buzz"
    if i%5 and i%3 :
        chaine = str(i)
    print chaine

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19

### Fizzbuzz 2

In [9]:
li = ["FizzBuzz" if not el%5 and not el%3 else "Fizz"if not el%3 else "Buzz" if not el%5 else el for el in range(1,101) ]
li

[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz', 16, 17, 'Fizz', 19, 'Buzz', 'Fizz', 22, 23, 'Fizz', 'Buzz', 26, 'Fizz', 28, 29, 'FizzBuzz', 31, 32, 'Fizz', 34, 'Buzz', 'Fizz', 37, 38, 'Fizz', 'Buzz', 41, 'Fizz', 43, 44, 'FizzBuzz', 46, 47, 'Fizz', 49, 'Buzz', 'Fizz', 52, 53, 'Fizz', 'Buzz', 56, 'Fizz', 58, 59, 'FizzBuzz', 61, 62, 'Fizz', 64, 'Buzz', 'Fizz', 67, 68, 'Fizz', 'Buzz', 71, 'Fizz', 73, 74, 'FizzBuzz', 76, 77, 'Fizz', 79, 'Buzz', 'Fizz', 82, 83, 'Fizz', 'Buzz', 86, 'Fizz', 88, 89, 'FizzBuzz', 91, 92, 'Fizz', 94, 'Buzz', 'Fizz', 97, 98, 'Fizz', 'Buzz']

### Dictionnaires

In [ ]:
import numpy as np

#### dico élèves

In [24]:
bob = {
  "nom": "Bob",
  "devoir": [90.0,97.0,75.0,92.0],
  "qcm": [88.0,40.0,94.0],
  "exam": [75.0,90.0]
}
alice = {
  "prenom": "Alice",
  "devoirs": [100.0, 92.0, 98.0, 100.0],
  "qcm": [82.0, 83.0, 91.0],
  "exam": [89.0, 97.0]
}
carol = {
  "prenom": "Carol",
  "devoir": [0.0, 87.0, 75.0, 22.0],
  "qcm": [0.0, 75.0, 78.0],
  "exam": [100.0, 100.0]
}

In [25]:
#dico général
dico_note = {"bob" :bob, "alice":alice, 'carol' : carol}

#moyenne des élèves par type d'épreuves
for i, j in dico_note.items() :
    for j in dico_note[i].keys():
        if type(dico_note[i][j]) is list :
            dico_note[i]['moyenne_'+j] = np.mean(dico_note[i][j])
            
#moyenne générale des élèves
for i in dico_note.keys() :
    dico_note[i]['moyenne_generale'] = 0
    for j in dico_note[i].keys() :
        if j.startswith('moy') and j != "moyenne_generale" :
            dico_note[i]['moyenne_generale'] += dico_note[i][j]
    dico_note[i]['moyenne_generale'] = float("{0:.1f}".format(dico_note[i]["moyenne_generale"]/3))
for i in dico_note.keys() :
    print i, dico_note[i]["moyenne_generale"]

carol 65.7
bob 81.7
alice 91.9

### Les fonctions

#### triangle

In [27]:
def triangle(n):
    tri = ""
    for i in range(n):
        tri += "*"
        print tri

triangle(10)

*
**
***
****
*****
******
*******
********
*********
**********

#### Quicksort

In [28]:
def quicksort(l) :
    if len(l) <=1 :
        return l
    else :
        pivot = l[-1]
        l.pop()
        lg=[]
        ll=[]
        for i in l :
            if i <= pivot :
                ll.append(i)
            else :
                lg.append(i)
    return quicksort(ll)+[pivot]+quicksort(lg)

liste_random = np.random.randint(0, high=100, size=20).tolist()
liste_triee = quicksort(liste_random)
print "liste random :",liste_random
print "\nliste triée :",liste_triee

liste random : [18, 45, 56, 95, 32, 83, 71, 83, 12, 20, 14, 91, 81, 53, 42, 66, 96, 37, 33]

liste triée : [12, 14, 18, 20, 32, 33, 37, 40, 42, 45, 53, 56, 66, 71, 81, 83, 83, 91, 95, 96]

### Les exceptions

In [16]:
def division() :
    try:
        numerateur = float(input("numerateur : "))
        denominateur = float(input("denominateur : "))
        division = numerateur*1.0/denominateur
        arrondi = round(division,2)
        print 'division :', division
        print 'arrondi :', arrondi
    except (ValueError, NameError, SyntaxError, OverflowError) :
        print 'le numérateur et le dénominateur doivent être des flottants'
        return 
    except ZeroDivisionError :
        print 'le dénominateur ne doit pas être nul'
    finally :
        print "au revoir !"
division()

numerateur : 14
denominateur : 5
division : 2.8
arrondi : 2.8
au revoir !